@import "works-list";

.works-section {
  padding: 100px 0 0;
  .wrapper {
    padding: 0;
    max-width: 1600px;
    width: 100%;
  }
}

@media only screen and(max-width: 850px) {
  .works-section {
    padding: 50px 0;
  }
}

.works_title-block {
  margin-bottom: 60px;
}
